@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box; 
}

body{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
     background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

img{
    max-width: 100%; 
}

.mobile-container{
    width: 400px; 
    background-color: #fff; 
}

header{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 1rem; 
}

header input{
    background-color: #eee; 
    border: none; 
    border-radius: 3px; 
    padding: 0.5rem 1rem; 
}

header button{
    background-color: transparent; 
    border:none; 
    color: #eee; 
    font-size: 1.5rem;
    margin-left: 10px; 
}
